.button  {
  margin-top: 1%;
  width: 150px;
  background-color: rgb(100, 2, 81); 
  border-radius: 8px;
  border: none;
 
  color: rgb(253, 218, 246) !;


}


.title {

  margin: 3%;

}

.container {
  background-color: rgba(244, 216, 255, 0.541);
  text-align: center;
  margin-top: 5%;
  padding: 1%;
  color: rgb(100, 2, 81);
  border-radius: 8px;
  border: solid 2px rgb(100, 2, 81);
}

.form {
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;

}

.alert {
  margin: 3%;
  opacity: 100%;
}